:root {
    --main-color: #85a90d;
    --color: #405908;
    --bg: #f6fafc;
    --border: 0.1rem solid #c1d90d;
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Roboto", serif;
}

body {
    background-color: var(--bg);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--main-color);
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.header section img {
    width: 100px;
}

#burguer {
    color: #fff;
    display: none;

}

.navbar a {
    margin: 0 3rem;
    font-size: 2rem;
    color: var(--color);   
}

.navbar a:hover {
    color: #ffffff;
    border-bottom: 0.1rem solid #e96c19;
    padding-bottom: 0.5rem;
    font-size: 2.3rem;
}

.home-container {
    display: inline-block;
    margin-top: -4rem;

}

.home-img img {
    width: 450px;
    height: 450px;
    margin-bottom: 8rem;
    margin-left: 6rem;
    border-radius: 8px;
    box-shadow: 0 15px 15px rgba(62, 54, 214, 0.4);
}

.home-container section {
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    max-width: 85rem;
    text-align: right;
    margin-left: 10rem;
    margin-right: -6rem;
    margin-bottom: 10rem;
}

.container h3 {
    color: #e96c19;
    font-size: 3rem;
}

.container h3 span {
    color: var(--main-color);
}

.container p {
    color: var(--color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.8;
    padding: 1rem 0;
}

.title {
    font-size: 3rem;
    color: #e96c19;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.about-content h3 {
    font-size: 2rem;
    color: var(--main-color);
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.about-content p {
    color: var(--color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.8;
    padding: 1rem 0;
}


.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 5rem;
    background-color: #ffffff;
}

.box img {
    height: 15rem;
}

.menu .box-container .box h3 {
    color: var(--color);
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box:hover {
    background-color: var(--main-color);
}

.menu .box-container .box:hover>* {
    color: #e96c19;
}

.review .box-container .box {
    text-align: center;
    padding: 3rem 2rem;
}

.box p {
    font-size: 1.5rem;
    color: var(--color);
    padding: 2rem 0;
    line-height: 1.8;
    font-weight: lighter;
}

.review .box-container .box h3 {
    color: var(--color);
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
}

.review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}

.address .map {
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0 15px 15px rgba(62, 54, 214, 0.4);
    overflow: hidden;
}

.address .mesa {
    display: inline-block;
    margin-left: 100px;
}

.address .mesa p {
    color: var(--color);
    font-size: 1.8rem;
    text-align: center;
    margin: 0 0 35px -2px;
    

}

.address .mesa img {
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 15px 15px rgba(62, 54, 214, 0.4);
    
}

.footer {
    text-align: center;
    color: var(--color);
    border-top: var(--border);
}

.footer .share {
    padding: 1rem 0;
}


@media (max-width: 768px) {

    .header {
        position:relative;
     
    }

    .navbar a {
        display: inline-block;
        text-align:center;
        margin: 0 30px;
    }

    .home-img img {
        display: none;
    }

    .container {
        max-width: 85rem;
        text-align: center;
        margin-left: 0rem;
        margin-right: 0rem;
        margin-bottom: 1rem;
    }
    
    .container p {
        text-align: left;    
    }
    
    .about .row .container-image {
        display: none;      
    }

    .about .row .container-image img {
        display: none;    
    }

    .address .map {
        display: flex;
        align-items: center;
    }

    .address .mesa {
        display: none;
    }

    #burguer {
        display: flex;
        color: #fff;
        background-color: #13131a;
        text-align: center;
        padding: 10px;
    }

    #burguer:hover {
        width: 30px;
        height: 30px;
    }

    .navbar {
        display: none;
    }
}